*{
    padding: 0;
    margin: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    
}

header{
    margin: auto;
    max-width: 1000px;
    color: white;
    background-color: rgb(59, 196, 206);
    padding: 10px;
    text-align: center;
}
.tittle{
    font-size: 26px;
    
}

.formContainer{
    background-color: rgba(255, 255, 255, 0.685);
    max-width: 230px;
    padding: 20px;
    float: right;
}

section{
    padding: 20px;
    background-image: url('../images/people.jpg');
    background-size: cover;
    overflow:hidden;
    max-width: 980px;
    margin: auto;
}
.mb{
    margin-bottom: 15px;
}
h2{
    font-size: 16px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    margin-bottom: 10px;


}

input[type="submit"]{
    color: white;
    background-color: rgb(59, 196, 206);
}


input[type="submit"]:hover{
    background-color: teal;

}


select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../images/arrow.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

footer{
    margin: auto;
    max-width: 940px;
    height:400px;
    background-color: rgb(19, 18, 18);
    text-align: center;
    padding: 40px;
    
}
.imagem{
    width: 160px;
  
}

.descrição{
    text-align: left;
    color: white;
    display: inline-block;
    max-width: 40%;
    margin-left: 40px;
    
}

.descrição p, .descrição h3{
    margin-bottom: 20px;
}
@media screen and (max-width: 380px){
 .formContainer{
     float: none;
     width: 80%;
     margin:auto;
     }

 .descrição{
    display: inline;
    margin: auto;
    text-align: justify;
    width: 80%;
    
 }
    
}
    